<!doctype html>
<html lang="en">

<head>
    <title>Add Course</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="p-4 pt-5">
                <a href="#" class="img logo rounded-circle mb-5" style="background-image: url(images/admin.jpg);"></a>
                <ul class="list-unstyled components mb-5">
                    <li class="active">
                        <a href="#course" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Course</a>
                        <ul class="collapse list-unstyled" id="course">
                            <li>
                                <a href="add_course.html">Add Course</a>
                            </li>
                            <li>
                                <a href="view_course.html">View Course</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#subject" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Subject</a>
                        <ul class="collapse list-unstyled" id="subject">
                            <li>
                                <a href="add_subject.html">Add Subject</a>
                            </li>
                            <li>
                                <a href="view_subject.html">View Subject</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="Register_student.html">Register Student</a>
                    </li>
                    <li>
                        <a href="view_students.html">View Students</a>
                    </li>
                    <li>
                        <a href="session.html">Session</a>
                        <!-- <ul class="collapse list-unstyled" id="session">
                            <li>
                                <a href="#">Session</a>
                            </li>
                        </ul> -->
                    </li>
                    <li class="mt-5">
                        <button type="button" name="" id="" class="btn btn-danger btn-sm btn-block">Logout</button>

                    </li>
                </ul>


            </div>
        </nav>

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-primary">
              <i class="fa fa-bars"></i>
              <span class="sr-only">Toggle Menu</span>
            </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item">
                                <h5>Student Management System</h5>
                            </li>
                            <!-- <li class="nav-item">
                                <a class="nav-link" href="#">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Portfolio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Contact</a>
                            </li> -->
                        </ul>
                    </div>
                </div>
            </nav>

            <h4 class="mb-1">WELCOME ADMIN</h4>
            <hr>

            <div class="card">
                <div class="card-header text-center">
                    <h4> View Session</h4>

                </div>
                <div class="card-body text-dark">
                    <form action="">
                        <div class="row">
                            <div class="col-md-2">
                                <label for="">Session</label>
                            </div>
                            <div class="col-md-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                      2018-2019
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                                    <label class="form-check-label" for="flexRadioDefault2">
                                        2019-2020
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                                    <label class="form-check-label" for="flexRadioDefault2">
                                        2020-2021
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                                    <label class="form-check-label" for="flexRadioDefault2">
                                        2021-2022
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="text-center mt-3">
                                    <button type="submit" class="btn btn-primary">Update Session</button>
                                </div>

                            </div>
                        </div>


                    </form>
                </div>
            </div>



        </div>
    </div>

    <script src="js/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>